/*СТИЛИ ДЛЯ HEADER*/
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 94px 50px 96px 50px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 32.9px;
}

.header__links-list-item {
  list-style-type: circle;
  color: #000000;
  font-size: 18px;
  line-height: 100%;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
 display: block;
 width: 135px;
 height: 105px;
}

.header__logo-image {
  width: 100%;
}

.address {
  max-width: 240px;
  width: 100%;
  justify-self: end;
}

.address-item {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  text-underline-offset: 4px;
}

.contact_underline {
  text-decoration-line: underline;
}
/*СТИЛИ ДЛЯ COVER*/
.cover {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  position: relative;
  padding: 0 50px 50px 50px;
  z-index: 1;
}

.overlay {
  background-color: rgb(0 0 0/0.6);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 2;
}

.cover__title {
  padding-top: 165px;
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 114.99999999999999%;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
  margin-top: 22px;
  margin-right: -30px;
}

.aligned-text_right {
  text-align: right;
  margin-top: 22px;
  margin-right: -30px;
}

.cover_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 105px;
}

.description_text {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 28px;
  word-spacing: 18.65px;
  text-align: center;
}

.cover__title,
.cover_description {
  position: relative;
  z-index: 3;
}

.bet_button {
  padding: 14px 32px 13px 31px;
  background-color: transparent;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 100%;
  border-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  text-align: center;
}

/*СТИЛИ ДЛЯ LOTS*/
.lots {
  margin: 183.5px 24px 0 24px;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  line-height: 100%;
  padding-left: 40px;
  padding-bottom: 30px;
}

.lots__card-list {
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  list-style: none;
  margin-bottom: 33px;
}

.card {
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 position: relative;
 color: #FFFFFF; 
}

.card-link {
  width: 100%;
  height: 100%;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  z-index: 1;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  z-index: 1;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  z-index: 1;
}

.card__title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline;
  text-underline-offset: 3px;
  padding: 48px 40px 0 40px;
  text-decoration-thickness: 1px;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  padding: 0 40px 47px 40px;
}

.card__title,
.card__text {
  position: relative;
  z-index: 3;
}

.lots__look-more-link {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  line-height: 100%;
  padding-left: 40px;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}

/*СТИЛИ ДЛЯ ABOUT*/
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  margin: 120px 24px 0 24px;
  gap: 25px;
}

.about__logo-column {
  display: flex;
  justify-content: center;
  width: 334px;
  padding-top: 35px;
}

.about__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: #000000;
  border-radius: 50%;
}

.about__logo-image {
  width: 147px;
  height: 113px;
}

.about__column {
  padding-top: 136px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  line-height: 100%;
  margin-bottom: 104px;
  padding-top: 3px;
}

.about__text-container {
 display: flex;
 flex-direction: column;
 gap: 23px;
}

.about__text {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  line-height: 24px;
}

/*СТИЛИ ДЛЯ FOOTER*/

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 180px;
  margin-bottom: 82px;
  justify-items: center;
  padding: 0 50px 0 50px;
}

.footer__adress {
  justify-self: normal;
  padding-top: 1.5px;
}

.footer__menu {
  padding-top: 3px;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.footer__links-list-item {
  list-style: none;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  line-height: 100%;
}

.footer__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__link_active {
  text-decoration: none;
}

.footer__social-list {
 display: flex;
 justify-content: center;
 gap: 48px;
 justify-self: end;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}