/*СТИЛИ ДЛЯ HEADER*/
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 295px;
  padding: 0 50px 0 50px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 32.9px;
}

.header__links-list-item {
  text-decoration: underline;
  list-style-type: circle;
  color: #000000;
  font-size: 18px;
  line-height: 100%;
  text-underline-offset: 3px;
}

.header__links-list-item.header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
 display: block;
 width: 138px;
 height: 105px;
}

.logo_black_img {
  width: 100%;
}

.header__address {
  width: 240px;
  justify-self: end;
}

.header__address-item {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  text-underline-offset: 4px;
}

.contact_underline {
  text-decoration-line: underline;
  text-underline-position: under;
}
/*СТИЛИ ДЛЯ COVER*/
.cover {
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.cover_overlay {
  height: 757px; /*Подумать и мб вытащить куда-то в общий класс*/
  background-color: rgb(0 0 0/0.6);
}

.cover_title {
  padding: 165px 50px 0 50px;
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 114.99999999999999%;
  letter-spacing: 30px;
}

.accent_span {
  display: block;
}

.text_center {
  text-align: center;
  margin-top: 20px;
  margin-right: 330.5px;
  margin-left: 330.5px;
}

.text_right {
  text-align: right;
  margin-top: 20px;
  margin-left: 613px;
}

.cover_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 106px 50px 0 50px;
  height: 51px;
}
.description_text {
  
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 28px;
  word-spacing: 18.65px;
  text-align: center;
}

.bet_button {
  padding: 12px 32px 11px 31px;
  background-color: transparent;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 100%;
  border-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  text-align: center;
}

/*СТИЛИ ДЛЯ LOTS*/

/*СТИЛИ ДЛЯ ABOUT*/
